.dataStorage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 25px;
  height: 100vh;
}

@media (min-width: 375px) {
  .dataStorage {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
