.dataStorage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 310px 25px;
  height: 100vh;
}

@media (min-width: 375px) {
  .dataStorage {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 330px 205px;
  }
}
