html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--very-dark-blue);
  background-image: url("/assets/images/bg-mobile.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blu: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  font-size: 14px;
}

@media (min-width: 375px) {
  body {
    background-image: url("/assets/images/bg-desktop.png");
  }
}
