* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat url("../assets/images/bg-mobile.png");
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* For Chrome or Safari */
progress{
  width: 100%;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}
progress[value]::-webkit-progress-bar {
  background-color: hsl(229, 57%, 11%);
  border-radius: 2rem;
}

progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
  border-radius: 2rem;
}

@media (min-width: 376px){
  body{
    background: no-repeat url("../assets/images/bg-desktop.png");
    background-color: hsl(229, 57%, 11%);
    background-position: bottom;
  }
}