html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: no-repeat url("../assets/images/bg-mobile.png");
  background-size: cover;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(243, 100%, 93%);
  text-align: center;
}

header {
  background-color: hsl(228, 56%, 26%);
  display: inline-grid;
  margin: 6rem 0 1rem 0;
  padding: 3rem;
  border-radius: 0.5rem 5rem 0.2rem 0.2rem;
  width:50%;
}

header img{
  margin-top: -1rem;
  padding: 0;
  text-align: center;
}


main {
  background-color: hsl(228, 56%, 26%);
  width: 50%;
  margin: 0;
}

main p{
  justify-content: center;
}
