.dataStorage__navbar {
  background-color: var(--dark-blue);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 90px;
  border-top-left-radius: 8px;
  padding: 35px;
  margin-bottom: 16px;
  width: 100%;
}

.navbar__links {
  display: flex;
  padding-top: 30px;
}

.navbar__link {
  align-items: center;
  background-color: var(--very-dark-blue);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  padding: 12px;
}

@media (min-width: 375px) {
  .dataStorage__navbar {
    margin-bottom: 0;
    max-width: 375px;
  }
}
