.dataStorage__usage {
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: relative;
  width: 100%;
}

.usage__summary {
  padding-bottom: 18px;
  text-align: center;
}

.usage__progressBar {
  align-items: center;
  background-color: var(--very-dark-blue);
  border-radius: 11px;
  display: flex;
  height: 20px;
  padding: 2px;
  width: 100%;
}

.usage__progressBar--slider {
  align-items: center;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 11px;
  display: flex;
  height: 100%;
  justify-content: end;
  padding: 0 2px;
  width: 80%;
}

.usage__progressBar--ball {
  background-color: #fff;
  border-radius: 11px;
  height: 81%;
  width: 12px;
}

.usage__capacity {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
}

.usage__remaining {
  background-color: #fff;
  border-radius: 7px;
  color: #000;
  font-size: 1.5rem;
  padding: 12px;
  position: absolute;
  top: 110px;
}

.usage__remainingPoint {
  display: none;
}

@media (min-width: 375px) {
  .dataStorage__usage {
    align-items: flex-start;
    max-width: 600px;
  }

  .usage__remaining {
    top: -25px;
    right: 50px;
    border-bottom-right-radius: 0;
  }

  .usage__remainingPoint {
    display: block;
    position: absolute;
    right: 50px;
    top: 20px;

    border-right: 20px solid transparent;

    border-bottom: 20px solid white;
    transform: rotate(180deg);
  }
}
