.dataStorage__usage {
  background-color: var(--dark-blue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 100%;
}

.usage__summary {
  text-align: center;
}

.usage__progressBar {
  height: 20px;
  width: 100%;
  background-color: var(--very-dark-blue);
  padding: 2px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

.usage__progressBar--slider {
  height: 100%;
  border-radius: 11px;
  width: 80%;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 2px;
}

.usage__progressBar--ball {
  background-color: #fff;
  height: 82%;
  width: 12.5px;
  border-radius: 11px;
}

.usage__capacity {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.usage__remaining {
  background-color: #fff;
  color: #000;
  padding: 12px;
  font-size: 1.5rem;
  border-radius: 7px;
}

@media (min-width: 375px) {
  .dataStorage__usage {
    max-width: 600px;
    align-items: flex-start;
  }
}
